

<div class="col-sm-3 sidenav">
    
    <ul class="nav nav-pills nav-stacked">
      <li class='btn1'> <button type="button" class="btn btn-default btn-lg" routerLink="/login">Login as Cashier</button></li> <br/>
      <li class='btn2'> <button type="button" class="btn btn-default btn-lg" routerLink="/admin">Login as Admin  </button></li>
    </ul>
   
  </div>

  <div class="col-sm-9">
   
      <carousel>
          <slide>
            <img src="assets/a1.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
            <img src="assets/a10.jpg" alt="second slide" style="display: block; width:100%;">
          </slide>
          <slide>
            <img src="assets/a3.jpg" alt="third slide" style="display: block; width: 100%;">
          </slide>
        
        </carousel>
    
        </div>

        <footer class="container-fluid">
            <p>Footer Text</p>
          </footer>