.container-fluid {
    background-color: #2f2f2f;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    font-size: 10px;
    letter-spacing: 5px;
  }
  
  
  .btn1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
   
   }
   .btn1{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25%;
   
   }
   .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
 
  .row.content {height: 1250px}
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: 1250;} 
  }